.volume {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: right;

  #volume-high-btn {
    display: flex;
    width: 40px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  #muted-btn {
    display: flex;
    width: 40px;

    img {
      width: 23px;
      height: 23px;
    }
  }

  #volume-progress {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .volume {
    display: none;
    grid-column: span 0;
  }
}
