.control-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.control-btn {
  cursor: pointer;
  margin: 5px;
}

.control-btn img {
  width: 40px;
  height: 40px;
}

.control-btn:active {
  opacity: 0.5;
}

#pause-btn,
#play-btn {
  margin: 0 10px 10px 10px;
}

#backward-btn,
#forward-btn,
#forward-step-btn,
#backward-step-btn {
  margin: 0 5px 10px 5px;

  img {
    height: 20px;
  }
}

@media (max-width: 1000px) {
  .control-btns {
    grid-column: span 9;
  }
  .control-btn img {
    width: 35px;
    height: 35px;
  }

  #pause-btn,
  #play-btn {
    margin: 0 5px 5px 5px;
  }

  #backward-btn,
  #forward-btn,
  #forward-step-btn,
  #backward-step-btn {
    margin: 0 3px 5px 3px;

    img {
      height: 16px;
    }
  }
}
