.progress {
  display: flex;
  position: relative;
  height: 6px;
  background: var(--border);
  border-radius: 25px;
  margin: 0 5px;
  flex: 10;
  flex-basis: 100%;
  overflow: hidden;
}

.progress-filled {
  height: 6px;
  background: var(--now-playing);
  flex: 0;
  flex-basis: 0%;
  border-radius: 25px;
}
