/* ----- CSS RESET ----- */
button {
  background: unset;
  border: unset;
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

/* ----- COLOR VARIABLES ---- */
:root {
  --black: #1f1829;
  --lighter-black: #2e243d;
  --white: #f0ead6;
  --grey: #808080;
  --now-playing: #de3163;
  --scene-bg: #000000;
  --scene-color: #4300c0;
  --card-bg: #181818;
  --card-btn-bg: #222222;
  --border: #222222;
}

/* ----- GLOBAL FONTS ----- */
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ----- SET HEIGHT TO 100% ----- */
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
